# Local Netlify folder
.netlify

# Yarn files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# Node modules
node_modules/

# Lambda build
lambda/

.DS_Store
.env
